.tasksContainer {
    margin: 0 2.5% 5% 2.5%;
}

.tasks {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.buttonsContainer {
    display: flex;
    justify-content: space-between;
    font-size: 5px;
    width: 12.5%;

}