.errorMessagePaper {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    font-weight: bold;
    width: 40%;
    bottom: 10px;
    left: 50%;
    border-radius: 8px;
    transform: translateX(-50%);
    background: #c04e4e;
    padding: 4px 5px;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}

.show {
    opacity: 1;
    transition: opacity 0.5s ease-in-out;
}

